.color-1{
    color:#B1740F;
}
.color-2{
    color:#FFD07B;
}
.color-3{
    color:#FDB833;
}
.color-4{
    color:#296EB4;
}
.color-5{
    color:#1789FC;
}

.bg-1{
    background-color:#B1740F;
}
.bg-2{
    background-color:#FFD07B;
}
.bg-3{
    background-color:#FDB833;
}
.bg-4{
    background-color:#296EB4;
}
.bg-5{
    background-color:#1789FC;
}
.bg-fade {
    background-color: #86929d5d;
}

