@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


/* .sabun-wrapper {
    display: none;
} */

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.wrapper-scroll{
    
    background-color: violet;
}

  .container-scroll {
    flex-basis: 50%;
    max-height: 100vh;
    overflow-y: scroll;
    border: 1px solid gray;
    scroll-snap-type: y mandatory;}
  
    .container-scroll li {
    height: 100vh;
    border-bottom: 1px solid white;
    padding: 3rem;
    font-size: 1.4rem;
    color: rgba(white, .5);
    background: lightgray;
    text-align: center;
    scroll-snap-align: start;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  

  body {
    z-index: 999;
    background-image: url(../images/main-bg.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    width: 100vw;
    height: 100vh;
    background-color: #343a40d8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}


.outer-box {
    display: flex;
    align-items: center;
    justify-content: center;

}

.inner-box {
    height: 100vh;
    width: 100vw;
}


.navbar {
    background-color: #343a40d8;
}

.navbarproperty {
    font-family: 'Slabo 27px', serif;
    font-size: 2rem;
    text-align: center;

}


 .content-box {
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.content-box {
    width: auto;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.content-box h1 {
    font-size: xxx-large;
}

.content-box p {
    color: rgb(255, 255, 255);
    font-size: X-large;
}


.agrolea-footer {
    margin-bottom: 0;
}
